<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Profile - BlaBla</title>
</head>
<body>
    
    <%- include('./navbar') %>

    <h1>My Profile</h1>
    
    <div style="border: 1px solid #ccc; padding: 15px; max-width: 400px;">
        <h3>Account Details</h3>
        <img src="<%= user.profilePic ? '/profilePictures/'+user.profilePic : '/profilePictures/avtar.webp' %>" 
            height="100" 
            width="100" 
            alt="User Profile"> 
        <p><strong>Name:</strong> <%= user.name %></p>
        <p><strong>Email:</strong> <%= user.email %></p>
        
        <p><strong>Role:</strong> <%= user.role.charAt(0).toUpperCase() + user.role.slice(1) %></p>
    </div>

    <br>
    <form action="/auth/logout" method="POST">
        <button type="submit">Log Out</button>
    </form>

</body>
</html>